Topic - Dictionary

- how to declare dictionary
- how to access key and values 
- how to use loops in dictionary
- indexing in dictionary

In [1]:
student = {
    "name" : "Ayushi" ,
    "age" : 22 , 
    "course" : "Python" ,
    "marks" : 45
}
print(student)

{'name': 'Ayushi', 'age': 22, 'course': 'Python', 'marks': 45}

In [4]:
info = dict( name = "Ayushi" , age = 22 , course = "Python" , marks =  45)
print(info)

{'name': 'Ayushi', 'age': 22, 'course': 'Python', 'marks': 45}

In [5]:
info = dict( name = input("Enter your name: ") , age = int(input("Enter your age: ")) , 
            course = input("Enter your course: "), marks = int(input("Enter your age: ")))
print(info)

{'name': 'Ayushi', 'age': 22, 'course': 'java', 'marks': 30}

In [ ]:
# multiple value dictionary
apps = {
    'Myntra' : [22 , 24] ,
    'Snapchat' : [23 , 34],
    'Whatsapp' : [25 , 30]
}
print(apps)

{'Myntra': [22, 24], 'Snapchat': [23, 34], 'Whatsapp': [25, 30]}

In [ ]:
#1st method to access values through keys
print(info['course'])
print(apps['Whatsapp'])

java
[25, 30]

In [ ]:
#2nd method to access values through keys
print(info.get('age'))

22

In [11]:
#to add item in a dictionary
info['HomeTown'] = 'Azamgarh'
print(info)

{'name': 'Ayushi', 'age': 22, 'course': 'java', 'marks': 30, 'HomeTown': 'Azamgarh'}

In [14]:
print(info.keys())
print(info.values())
print(info.items())

dict_keys(['name', 'age', 'course', 'marks', 'HomeTown'])
dict_values(['Ayushi', 22, 'java', 30, 'Azamgarh'])
dict_items([('name', 'Ayushi'), ('age', 22), ('course', 'java'), ('marks', 30), ('HomeTown', 'Azamgarh')])

Loops in dictionary

In [19]:
for k, v in info.items():
    print( f'{k} : {v}')

name : Ayushi
age : 22
course : java
marks : 30
HomeTown : Azamgarh

In [22]:
company = {
    'emp001' :{
     'name' : 'Rahul', 
     'age' : 25 ,
     'dept' : 'IT',
     'salary' : 25000 
    },
    'emp002' :{
     'name' : 'Adarsh', 
     'age' : 26 ,
     'dept' : 'HR',
     'salary' : 30000 
    },
    'emp003' : {
     'name' : 'Yashi', 
     'age' : 23 ,
     'dept' : 'BPO',
     'salary' : 20000 
    }
}
print(company)

{'emp001': {'name': 'Rahul', 'age': 25, 'dept': 'IT', 'salary': 25000}, 'emp002': {'name': 'Adarsh', 'age': 26, 'dept': 'HR', 'salary': 30000}, 'emp003': {'name': 'Yashi', 'age': 23, 'dept': 'BPO', 'salary': 20000}}

In [23]:
from pprint import pprint

In [24]:
pprint(company)

{'emp001': {'age': 25, 'dept': 'IT', 'name': 'Rahul', 'salary': 25000},
 'emp002': {'age': 26, 'dept': 'HR', 'name': 'Adarsh', 'salary': 30000},
 'emp003': {'age': 23, 'dept': 'BPO', 'name': 'Yashi', 'salary': 20000}}

In [28]:
print(company['emp002']['salary'])
print(apps['Myntra'][1])

30000
24

In [32]:
temp = {
    'lucknow' : [25,32,34],
    'Azamgarh' : [24,32,24]
}
print(sum(temp['lucknow'])/len(temp['lucknow']))
print(sum(temp['Azamgarh'])/len(temp['Azamgarh']))

30.333333333333332
26.666666666666668